/* .login-container {
  position: relative;
  min-height: 100vh;
  padding: 40px 20px 20px;
/* margin-bottom: 2rem; 
} */ 

/* AYAW IBALIK ANG MABAW KAY GANIHA RAKA SIGEG SULBAD ANA */

.back-link {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
/* 
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} */

.login-content {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.signup-form input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
